/**
 * Base
 */
@import 'tools/normalize';
@import 'base/fonts';
@import 'base/base';
<% if (isDoubleClick) { %>@import 'sprite';<% } %>


.preloader,
.wrapper {
	overflow: hidden;
	width: <%= width %>px;
	height: <%= height %>px;
	background:#ccc;
	border: 1px solid #ccc; // optional
}
// put your stuff here
