doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title
    meta(name="viewport", content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/styles.min.css')
    script(src="js/global.min.js")
  body.loading
    .preloader
      div
      div
    include includes/content
    script.
      App_<%= camelname %>.getInstance().init();

